body {
    font-family:verdana;
    font-size: 80%;
    font-weight: 400;
    border: 5px solid black;
    width: 500px;
    padding: 5px;
    margin: 0 auto;
}
h1 {
    margin: 5px;
}
li::marker {
    font-size: 1rem;
    font-weight: bolder;
}
.note {
    margin: 5px
}
.color-red {
    color: red;
}
.color-blue {
    color:blue;
}
.text-italic {
    font-style: italic;
}
.blue-box {
    background-color: lightblue;
    border: 5px solid blue;
    margin: 15px;
    padding: 20px;
}